/*h3[target=_selected_large_text] {
    background-color: green;
    font-size: small;
    font-style: italic;
}*/

:root {
    --bg-color: white;
    --font-siz: 20px; /*from google search page*/
    --font-siz-grown: 700%;
}

h3[target=_selected_large_text] {
    position: absolute;
    background-color: var(--bg-color);
    font-size: var(--font-siz) !important;
    width: max-content !important;
    z-index: 99 !important;
    transition: all 500ms ease-out;
}
.SIMPLE-SEARCH-RESULT:hover,
.SIMPLE-SEARCH-RESULT:focus {
    --bg-color: rgba(255, 255, 150);
    --font-siz: var(--font-siz-grown);
}

#avalibleOn {
    width: inherit;
    padding-right: 1px;
}
#avalibleOnFeedback {
    padding-right: 60px;
}